# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm settings
.idea/

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/

# Django
*.log
*.sqlite3
db.sqlite3
/media
/staticfiles

# Local environment variables
.env